@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: #efefef;
  position: relative; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

.menu {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; }
  .menu__bloco-direita {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .menu__pesquisa {
    display: inline-block;
    width: 100%;
    max-width: 270px;
    position: relative; }
    .menu__pesquisa input {
      width: 100%;
      max-width: 240px;
      padding: 10px;
      border: #d3d3d3 solid 1px;
      border-radius: 20px;
      background-color: #efefef;
      color: #777; }
      .menu__pesquisa input:focus {
        outline: 0; }
      .menu__pesquisa input::-webkit-input-placeholder {
        font-size: 14px; }
    .menu__pesquisa .fa-search {
      position: absolute;
      right: 20px;
      top: 8px;
      font-size: 22px;
      color: #777; }
      .menu__pesquisa .fa-search:hover {
        color: #000; }
  .menu .pipe {
    width: 1px;
    height: 44px;
    background-color: #ddd;
    margin-left: 15px;
    margin-right: 15px; }
  .menu__info-usuario {
    display: inline-flex;
    align-items: center; }
  .menu__info-usuario img {
    border-radius: 50%;
    border: solid #777 2px;
    width: 40px;
    height: 40px;
    margin-right: 15px; }
  .menu__info-usuario .info-usuario__bloco-nome {
    display: inline-block;
    margin-right: 15px; }
    .menu__info-usuario .info-usuario__bloco-nome span {
      display: block;
      font-weight: 500; }
    .menu__info-usuario .info-usuario__bloco-nome span:first-child {
      font-size: 12px;
      color: #ababab; }
  .menu__info-usuario .fas {
    font-size: 25px; }

.logo {
  width: 100%;
  max-width: 80px; }

.carousel {
  position: relative; }
  .carousel__slides {
    display: none; }
  .carousel__imagem {
    width: 100%;
    height: auto;
    max-height: 400px;
    min-height: 215px; }
  .carousel__bloco-mensagem {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 100%;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 25px; }
    .carousel__bloco-mensagem.right {
      left: unset;
      right: 100px; }
    .carousel__bloco-mensagem h2 {
      margin: 0; }
    .carousel__bloco-mensagem p {
      margin-bottom: 30px; }
    .carousel__bloco-mensagem a {
      text-decoration: none;
      color: #fff;
      border: solid 2px #fff;
      border-radius: 20px;
      font-size: 15px;
      padding: 4px 20px; }
  .carousel__dots {
    width: 80px;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    text-align: center;
    background-color: #fff;
    height: 25px;
    border-radius: 20px;
    line-height: 29px; }
  .carousel .carousel__prev,
  .carousel .carousel__next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    padding: 16px;
    color: #fff;
    font-size: 70px;
    transition: 0.6s ease; }
  .carousel .carousel__next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .carousel .carousel__prev:hover,
  .carousel .carousel__next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .carousel .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .carousel .active,
  .carousel .dot:hover {
    background-color: #717171; }
  .carousel .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.curso {
  margin: 45px; }
  .curso h2 {
    color: #555;
    font-size: 25px; }
  .curso__container-items {
    max-width: 1265px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center; }
  .curso__item {
    display: inline-block;
    width: 25%;
    max-width: 260px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    min-height: 330px; }
    .curso__item img {
      width: 100%;
      height: auto;
      max-height: 150px; }
  .curso__bloco-mensagem {
    color: #555;
    padding: 15px;
    background-color: #fff; }
    .curso__bloco-mensagem h3 {
      text-align: center;
      font-size: 16px; }
    .curso__bloco-mensagem button {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 40px;
      color: #fff;
      background-color: #009f2b;
      border-radius: 20px;
      border: 0;
      cursor: pointer; }
      .curso__bloco-mensagem button:hover {
        background-color: #016b21; }
  .curso__adicionar-curso {
    background-color: transparent;
    box-shadow: 0 0 0;
    border: dashed 2px #9f9f9f;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .curso__adicionar-curso a {
      color: #555;
      text-decoration: none; }
      .curso__adicionar-curso a:hover {
        text-decoration: none; }
    .curso__adicionar-curso img {
      width: 120px; }
    .curso__adicionar-curso p {
      text-align: center;
      margin: 0;
      font-weight: 500;
      color: #9f9f9f;
      font-size: 20px;
      line-height: 20px; }
      .curso__adicionar-curso p:last-child {
        font-size: 25px; }

.footer {
  background-color: #fff; }
  .footer .row {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .footer__infos {
    display: inline-block;
    max-width: 315px; }
    .footer__infos .logo {
      margin-bottom: 15px; }
    .footer__infos p {
      color: #9a9a9a; }
  .footer__contato {
    display: block; }
    .footer__contato p {
      color: #9a9a9a;
      font-weight: 600; }
  .footer__redes-sociais {
    display: block; }
    .footer__redes-sociais .fab {
      font-size: 25px;
      color: #b5b5b5; }
    .footer__redes-sociais .fa-twitter:hover {
      color: #1da1f2; }
    .footer__redes-sociais .fa-youtube:hover {
      color: #ff0000; }
    .footer__redes-sociais .fa-pinterest:hover {
      color: #bd081c; }
  .footer .footer__icones {
    display: flex;
    justify-content: space-between; }
  .footer .copyright {
    background-color: #efefef;
    padding: 15px 0;
    color: #9a9a9a;
    text-align: center; }
  .footer p {
    margin: 0; }
  .footer h3 {
    margin: 0 0 15px 0; }

@media (max-width: 1199.98px) {
  .curso__item {
    max-width: 205px; } }

@media (max-width: 991.98px) {
  .curso__item {
    width: 33.333%;
    max-width: 200px; } }

@media (max-width: 767.98px) {
  .menu__bloco-direita, .carousel__bloco-mensagem {
    display: none; }
  .curso__item {
    width: 50%;
    max-width: 270px; }
  .footer .row {
    flex-direction: column; }
  .footer__infos, .footer__contato {
    text-align: center;
    margin-bottom: 25px; } }

@media (max-width: 575.98px) {
  .curso {
    margin: 18px; }
  .curso__item {
    width: 100%;
    max-width: 315px; } }

.background-modal {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }
  .background-modal .modal {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    position: relative; }
    .background-modal .modal .btn-fechar {
      position: absolute;
      top: -15px;
      right: -15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      color: #ff9176;
      text-align: center;
      font-size: 30px;
      text-decoration: none; }
    .background-modal .modal .img-modal img {
      width: 100%;
      max-width: 700px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    .background-modal .modal .modal-descricao {
      text-align: center;
      padding: 15px 30px; }
      .background-modal .modal .modal-descricao a {
        text-decoration: none;
        background-color: #1da2da;
        color: #fff;
        display: block;
        max-width: 200px;
        margin: 0 auto;
        height: 35px;
        line-height: 35px;
        border-radius: 20px; }
    .background-modal .modal .form-group {
      margin-bottom: 10px; }
      .background-modal .modal .form-group input {
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 10px; }
