@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #efefef;
    position: relative;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.menu {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    &__bloco-direita {
        width: 100%;
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__pesquisa {
        display: inline-block;
        width: 100%;
        max-width: 270px;
        position: relative;
        input {
            width: 100%;
            max-width: 240px;
            padding: 10px;
            border: #d3d3d3 solid 1px;
            border-radius: 20px;
            background-color: #efefef;
            color: #777;
            &:focus {
                outline: 0;
            }
            &::-webkit-input-placeholder {
                font-size: 14px;
            }
        }
        .fa-search {
            position: absolute;
            right: 20px;
            top: 8px;
            font-size: 22px;
            color: #777;
            &:hover {
                color:#000;
            }
        }
    }
    .pipe {
        width: 1px;
        height: 44px;
        background-color: #ddd;
        margin-left: 15px;
        margin-right: 15px;
    }
    &__info-usuario {
        display: inline-flex;
        align-items: center;
    }
    &__info-usuario {
        img {
            border-radius: 50%;
            border: solid #777 2px;
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }
        .info-usuario__bloco-nome {
            display: inline-block;
            margin-right: 15px;
            span {
                display: block;
                font-weight: 500;
            }
            & span:first-child {
                font-size: 12px;
                color: #ababab;
            }
        }
        .fas {
            font-size: 25px;
        }
    }
}

.logo {
    width: 100%;
    max-width: 80px;
}

.carousel {
    position: relative;
    &__slides {
        display: none;
    }
    &__imagem {
        width: 100%;
        height: auto;
        max-height: 400px;
        min-height: 215px;
    }
    &__bloco-mensagem {
        position: absolute;
        top: 40px;
        left: 100px;
        width: 100%;
        max-width: 350px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 25px;
        
        &.right {
            left: unset;
            right: 100px;
        }
        h2 {
            margin: 0;
        }
        p {
            margin-bottom: 30px;
        }
        a {
            text-decoration: none;
            color: #fff;
            border: solid 2px #fff;
            border-radius: 20px;
            font-size: 15px;
            padding: 4px 20px;
        }
    }

    &__dots {
        width: 80px;
        margin: 0 auto;
        position: relative;
        bottom: 15px;
        text-align: center;
        background-color: #fff;
        height: 25px;
        border-radius: 20px;
        line-height: 29px;
    }

    .carousel__prev,
    .carousel__next {
        cursor: pointer;
        position: absolute;
        top: 30%;
        padding: 16px;
        color: #fff;
        font-size: 70px;
        transition: 0.6s ease;
    }

    .carousel__next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .carousel__prev:hover,
    .carousel__next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active,
    .dot:hover {
        background-color: #717171;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
}

.curso {
    margin: 45px;
    h2 {
        color: #555;
        font-size: 25px;
    }
    &__container-items {
        max-width: 1265px;
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    &__item {
        display: inline-block;
        width: 25%;
        max-width: 260px;
        margin: 10px;
        background-color: #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        min-height: 330px;
        img {
            width: 100%;
            height: auto;
            max-height: 150px;
        }
    }
    &__bloco-mensagem {
        color: #555;
        padding: 15px;
        background-color: #fff;
        h3 {
            text-align: center;
            font-size: 16px;
        }
        button {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 40px;
            color: #fff;
            background-color: #009f2b;
            border-radius: 20px;
            border: 0;
            cursor: pointer;
            &:hover {
                background-color: #016b21;
            }
        }
    }
    &__adicionar-curso {
        background-color: transparent;
        box-shadow: 0 0 0;
        border: dashed 2px #9f9f9f;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a {
            color: #555;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        img {
            width: 120px;
        }
        p {
            text-align: center;
            margin: 0;
            font-weight: 500;
            color: #9f9f9f;
            font-size: 20px;
            line-height: 20px;
            &:last-child {
                font-size: 25px;
            }
        }
    }
}

.footer {
    background-color: #fff;
    .row {
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__infos {
        display: inline-block;
        max-width: 315px;
        .logo {
            margin-bottom: 15px;
        }
        p {
            color: #9a9a9a;
        }
    }
    &__contato {
        display: block;
        p {
            color: #9a9a9a;
            font-weight: 600;
        }
    }
    &__redes-sociais {
        display: block;
        .fab {
            font-size: 25px;
            color: #b5b5b5;
        }
        .fa-twitter:hover {
            color: #1da1f2;
        }
        .fa-youtube:hover {
            color: #ff0000;
        }
        .fa-pinterest:hover {
            color: #bd081c;
        }
    }
    .footer__icones {
        display: flex;
        justify-content: space-between;
    }
    .copyright {
        background-color: #efefef;
        padding: 15px 0;
        color: #9a9a9a;
        text-align: center;
    }
    p {
        margin: 0;
    }
    h3 {
        margin: 0 0 15px 0;
    }
}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .curso__item {
        max-width: 205px;
    }
 } 

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .curso__item {
        width: 33.333%;
        max-width: 200px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .menu__bloco-direita, .carousel__bloco-mensagem {
        display: none;
    }
    
    .curso__item {
        width: 50%;
        max-width: 270px;
    }

    .footer .row {
        flex-direction: column;
    }

    .footer__infos, .footer__contato {
        text-align: center;
        margin-bottom: 25px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .curso {
        margin: 18px;
    }
    .curso__item {
        width: 100%;
        max-width: 315px;
    }
 }

 .background-modal {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.8);

    .modal {
        width: 100%;
        max-width: 700px;
        background-color: #fff;
        border-radius: 10px;
        position: relative;

        .btn-fechar {
            position: absolute;
            top: -15px;
            right: -15px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            color: #ff9176;
            text-align: center;
            font-size: 30px;
            text-decoration: none;
        }

        .img-modal img {
            width: 100%;
            max-width: 700px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .modal-descricao {
            text-align: center;
            padding: 15px 30px;

            a {
                text-decoration: none;
                background-color: #1da2da;
                color: #fff;
                display: block;
                max-width: 200px;
                margin: 0 auto;
                height: 35px;
                line-height: 35px;
                border-radius: 20px;
            }
        }

        .form-group {
            margin-bottom: 10px;
            input {
                padding: 10px;
                border: solid 1px #ccc;
                border-radius: 10px;
            }
        }
    }
}